body{
    margin: 0;
    padding: 0;
    background-color: var(--backcolor);
}
.nav {
    width: 100%;
    text-align: center;
    margin-top:15px;
}
a{
    color: var(--textcolor);
    transition:0.3s;
}
.active{
    font-weight: bold;
}
a:hover{
    color:orangered;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Inter', 'Kosugi Maru', sans-serif;
    color: var(--textcolor);
}
.content{
    margin: 15px 5% 0 5%;
}
.logo{
    height:100px;
    border-radius: 50px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  hr.divider{
    border: 1px solid rgb(124, 124, 124);
    width: 100%;
    display: block;
    float:left;
    border-style: inset;
    border-width: 1px;
}
hr.divider2{
border: 1px rgba(124, 124, 124, 0.432);
width: 100%;
display: block;
float:left;
border-style: inset;
border-width: 1px;
}
hr.divider3{
border: 1px rgba(124, 124, 124, 0.432);
width: 100%;
display: inline;
float:left;
border-style: inset;
border-width: 1px;
margin-top:0px;
}